.heroContainer {
  padding-top: 50px;
  display: flex;
  flex-direction: row;
  min-height: 84vh;
  height: fit-content;
  background: linear-gradient(90deg,
      rgba(9, 37, 57, 0.978) 0%, rgb(14, 12, 30) 100%);

}

.textContent {
  color: var(--color-bg);
  margin: 10%;
  font-size: 1.2em;
  display: flex;
  flex-direction: column;
}

.logoSection {
  width: 30%;
}

.logo {
  min-width: 70px;
  width: 50%;
  border-radius: 20%;
}

.contactMe {
  text-decoration: none;
  color: whitesmoke;
  background-color: rgb(12, 118, 189);
  height: fit-content;
  width: fit-content;
  margin-top: 20px;
  padding: .5em;
  transition-property: all;
  transition-duration: 100ms;
  transition-timing-function: steps();
}

.contactMe:hover {
  color: whitesmoke;
  background-color: rgb(31, 60, 83);
  border-radius: 30%;

}

.h1 {
  color: rgb(0, 118, 221);
}