@import url(./variabales.css);

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 3%;
  padding-bottom: 1%;
  margin: 0 10%;

  z-index: 2;
}

.title {
  font-size: 30px;
  font-weight: 600;
  text-decoration: none;
  color: var(--color-text);
}



.menu {
  display: flex;
}

.menuItem {
  display: flex;
  gap: 40px;
  list-style: none;
}

.menuItem a {
  font-size: 25px;
  color: var(--color-text);
  text-decoration: none;
}

.menuBtn {
  width: 20px;
  background-color: rgb(36, 133, 218);
  visibility: hidden;

}

a {
  transition-property: all;
  transition-duration: 1s;
  transition-timing-function: steps();
}

a:hover {
  color: blue;
  font-weight: 300;
}

@media screen and (max-width :830px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
    width: 80%;
  }

  .menu {
    position: absolute;
    right: 0px;
    margin-right: 10px;
    flex-direction: column;
    align-items: flex-end;
    gap: 11px;
    z-index: 3;
  }

  .menuBtn {
    display: block;
    cursor: pointer;
    visibility: visible;
  }

  .menuItem {
    display: none;
    flex-direction: column;
    align-items: center;
    gap: 13px;
    border-radius: 10px;
    background: rgb(25, 55, 105);
    background: linear-gradient(0deg,
        rgba(25, 55, 109, 0.2) 0%, rgba(25, 55, 109, 1) 100%);

    padding: 24px 33px;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.25);
  }

  .menuOpen {
    display: flex;
    z-index: 1;
  }
}